<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>список</title>
    <style>
        .center {
          margin-left: auto;
          margin-right: auto;
        }
        .centered {
          text-align: center;
        }
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
        }
        th {
          text-align: left;
        }
    </style>
</head>
<body>

<h2 class="centered">Пользователи</h2>
<div class="centered">
    <input type="button" value="Добавить пользователя" onclick="window.location.href = 'admin/new'">
</div>
<br>

<div>
    <table class="center">
        <tr>
            <th>Id</th>
            <th>Ник</th>
            <th>Возраст</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Роли</th>
            <th>Обновить данные</th>
            <th>Удалить пользователя</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getUsername()}"></td>
            <td th:utext="${user.getAge()}"></td>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getSurname()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td th:utext="${user.roleToString()}"></td>
            <td>
                <form th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Обновить"/>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                    <input type="submit" value="Удалить"/>
                </form>
            </td>
        </tr>
    </table>
</div>
<hr>
<br/>

<div class="centered">
    <a th:href="@{/logout}">
        <input type="button" value="Logout"/>
    </a>
</div>

<br/>
<div class="centered">
    <a href="/user">Показать страницу с моими данными</a>
</div>
</body>
</html>