<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
    <style>
        .centered {
           text-align: center;
        }
    </style>
</head>
<body>
<h2 class="centered">Новый пользователь</h2>
<div class="centered">
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <label for="username">Введите ник: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <br><br/>
        <label for="age">Введите возраст: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br><br/>
        <label for="name">Введите имя: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br><br/>
        <label for="surname">Введите фамилию: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <br><br/>
        <label for="email">Введите адрес: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br><br/>
        <label for="password">Введите пароль: </label>
        <input type="text" style="-webkit-text-security: disc;" th:field="*{password}" id="password"/>
        <br><br/>
        <label>
            <input type="checkbox" name="roleAdmin" th:value="ADMIN" th:text="Admin">
        </label>
        <label>
            <input type="checkbox" name="roleUser" th:value="USER" th:text="User">
        </label>
        <br><br/>
        <input type="submit" value="Создать">
    </form>
</div>
<hr>
<br/>

<div class="centered">
    <a th:href="@{/logout}">
        <input type="button" value="Logout"/>
    </a>
</div>

</body>
</html>