<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User page</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <form class="text-white">
            <strong th:text="${user.getEmail()}">Email: </strong>
            <span th:text="|with roles: ${user.roleToString()}|"/>
        </form>
        <input type=button class="btn btn-dark; text-secondary" value="Logout"
               onclick="window.location.href = '/logout'">
    </div>
</nav>

<div class="container-fluid" style="padding-top: 20px">
    <div class="row">

        <div class="col">
            <div class="row">
                <button sec:authorize="hasRole('ROLE_ADMIN')" style="text-align:left; padding-left:24px"
                        class="btn btn-link btn-sm btn-block text-start text-decoration-none" onclick="window.location.href = '/admin'">
                    Admin
                </button>
                <button style="text-align:left; padding-left:24px" class="btn btn-primary btn-sm btn-block text-start text-decoration-none" onclick="window.location.href = '/user'">
                    User
                </button>
            </div>
        </div>

        <div class="col-10 bg-light" style="padding-left: 20px">
            <h2>
                <strong>User information-page</strong>
            </h2>

            <div class="card">
                <div class="card-header pb-2">
                    <h5 class="card-title">About user</h5>
                </div>
                <div class="card-body">
                    <form th:method="GET" th:action="@{/user}" th:object="${user}">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Age</th>
                                <th>First Name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="*{id}"/>
                                <td th:text="*{username}"/>
                                <td th:text="*{age}"/>
                                <td th:text="*{name}"/>
                                <td th:text="*{surname}"/>
                                <td th:text="*{email}"/>
                                <td th:text="*{roleToString()}"/>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>